<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BooksUsersMapper">
    
    <resultMap type="BooksUsers" id="BooksUsersResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="education"    column="education"    />
        <result property="age"    column="age"    />
    </resultMap>

    <sql id="selectBooksUsersVo">
        select id, name, education, age from books_users
    </sql>

    <select id="selectBooksUsersList" parameterType="BooksUsers" resultMap="BooksUsersResult">
        <include refid="selectBooksUsersVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="education != null  and education != ''"> and education = #{education}</if>
            <if test="age != null "> and age = #{age}</if>
        </where>
    </select>
    
    <select id="selectBooksUsersById" parameterType="Long" resultMap="BooksUsersResult">
        <include refid="selectBooksUsersVo"/>
        where id = #{id}
    </select>

    <insert id="insertBooksUsers" parameterType="BooksUsers" useGeneratedKeys="true" keyProperty="id">
        insert into books_users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="education != null">education,</if>
            <if test="age != null">age,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="education != null">#{education},</if>
            <if test="age != null">#{age},</if>
         </trim>
    </insert>

    <update id="updateBooksUsers" parameterType="BooksUsers">
        update books_users
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="education != null">education = #{education},</if>
            <if test="age != null">age = #{age},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBooksUsersById" parameterType="Long">
        delete from books_users where id = #{id}
    </delete>

    <delete id="deleteBooksUsersByIds" parameterType="String">
        delete from books_users where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>