<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BooksTypeMapper">
    
    <resultMap type="BooksType" id="BooksTypeResult">
        <result property="typeId"    column="type_id"    />
        <result property="typeName"    column="type_name"    />
    </resultMap>

    <resultMap id="BooksTypeBooksInformationResult" type="BooksType" extends="BooksTypeResult">
        <collection property="booksInformationList" ofType="BooksInformation" column="type_id" select="selectBooksInformationList" />
    </resultMap>

    <resultMap type="BooksInformation" id="BooksInformationResult">
        <result property="bookId"    column="book_id"    />
        <result property="bookName"    column="book_name"    />
        <result property="bookAuthor"    column="book_author"    />
        <result property="bookImage"    column="book_image"    />
        <result property="typeId"    column="type_id"    />
    </resultMap>

    <sql id="selectBooksTypeVo">
        select type_id, type_name from books_type
    </sql>

    <select id="selectBooksTypeList" parameterType="BooksType" resultMap="BooksTypeResult">
        <include refid="selectBooksTypeVo"/>
        <where>  
            <if test="typeName != null  and typeName != ''"> and type_name like concat('%', #{typeName}, '%')</if>
        </where>
    </select>
    
    <select id="selectBooksTypeByTypeId" parameterType="Long" resultMap="BooksTypeBooksInformationResult">
        select type_id, type_name
        from books_type
        where type_id = #{typeId}
    </select>

    <select id="selectBooksInformationList" resultMap="BooksInformationResult">
        select book_id, book_name, book_author, book_image, type_id
        from books_information
        where type_id = #{type_id}
    </select>

    <insert id="insertBooksType" parameterType="BooksType" useGeneratedKeys="true" keyProperty="typeId">
        insert into books_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeName != null and typeName != ''">type_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeName != null and typeName != ''">#{typeName},</if>
         </trim>
    </insert>

    <update id="updateBooksType" parameterType="BooksType">
        update books_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeName != null and typeName != ''">type_name = #{typeName},</if>
        </trim>
        where type_id = #{typeId}
    </update>

    <delete id="deleteBooksTypeByTypeId" parameterType="Long">
        delete from books_type where type_id = #{typeId}
    </delete>

    <delete id="deleteBooksTypeByTypeIds" parameterType="String">
        delete from books_type where type_id in 
        <foreach item="typeId" collection="array" open="(" separator="," close=")">
            #{typeId}
        </foreach>
    </delete>
    
    <delete id="deleteBooksInformationByTypeIds" parameterType="String">
        delete from books_information where type_id in 
        <foreach item="typeId" collection="array" open="(" separator="," close=")">
            #{typeId}
        </foreach>
    </delete>

    <delete id="deleteBooksInformationByTypeId" parameterType="Long">
        delete from books_information where type_id = #{typeId}
    </delete>

    <insert id="batchBooksInformation">
        insert into books_information( book_id, book_name, book_author, book_image, type_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.bookId}, #{item.bookName}, #{item.bookAuthor}, #{item.bookImage}, #{item.typeId})
        </foreach>
    </insert>
</mapper>