<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BooksInformationMapper">

    <resultMap type="BooksInformation" id="BooksInformationResult">
        <result property="id"    column="id"    />
        <result property="bookName"    column="book_name"    />
        <result property="typeId"    column="type_id"    />
        <result property="booksTypeName"    column="books_type_name"    />
    </resultMap>

    <sql id="selectBooksInformationVo">
        select a.*, b.type_name as books_type_name
        from books_information a
                 left join books_type b on a.type_id = b.type_id
    </sql>

    <select id="selectBooksInformationList" parameterType="BooksInformation" resultMap="BooksInformationResult">
        <include refid="selectBooksInformationVo"/>
        <where>
            <if test="bookName != null  and bookName != ''"> and a.book_name like concat('%', #{bookName}, '%')</if>
            <if test="booksTypeName != null  and booksTypeName != ''"> and b.type_name like concat('%', #{booksTypeName}, '%')</if>
        </where>
    </select>

    <select id="selectBooksInformationById" parameterType="Long" resultMap="BooksInformationResult">
        <include refid="selectBooksInformationVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertBooksInformation" parameterType="BooksInformation" useGeneratedKeys="true" keyProperty="id">
        insert into books_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bookName != null">book_name,</if>
            <if test="typeId != null">type_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bookName != null">#{bookName},</if>
            <if test="typeId != null">#{typeId},</if>
        </trim>
    </insert>

    <update id="updateBooksInformation" parameterType="BooksInformation">
        update books_information
        <trim prefix="SET" suffixOverrides=",">
            <if test="bookName != null">book_name = #{bookName},</if>
            <if test="typeId != null">type_id = #{typeId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBooksInformationById" parameterType="Long">
        delete from books_information where id = #{id}
    </delete>

    <delete id="deleteBooksInformationByIds" parameterType="String">
        delete from books_information where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>